# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.*~
octave-workspace
Resultados/*
.idea/
/viz/frames
Data/*
Resu_ref/Wernert_AIAA2010_7460/Caso_F01_unificated/*
Resu_ref/Wernert_AIAA2010_7460/Resultados/*